.login-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 115, 77, 0.7);
  color: var(--white);
}

.login-container .login-title h1 {
  color: var(--white);
  font-size: 5rem;
}

.login-container .login-title p {
  margin-top: -1rem;
  margin-left: 0.3rem;
}

.login-container .login-box {
  display: flex;
  flex-direction: column;
  
  width: 30rem;

  padding: 1rem;
  margin-left: 4rem;

  background: var(--white);
  color: var(--green-stone);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
}

.login-container .login-box label {
  margin: 0.8rem 0;
}

.login-container .login-box input {
  margin-bottom: 1rem;
  line-height: 3rem;

  border: 0;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.3);
  background: var(--background);
  outline: none;

  transition: box-shadow 0.2s;
}

.login-container .login-box .button-box {
 display: flex;
 justify-content: center;
}

.login-container .login-box .button-box a {
  box-shadow: 0 0 0.15rem rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.2s;

}

.login-container .login-box .button-box a:hover,
.login-container .login-box input:hover  {
  box-shadow: 0 0 0.15rem rgba(0, 115, 77, 0.7);
}