.audits-container {
  display: flex;
  flex-direction: column;
}

.audits-container h1 {
  width: 75%;
  margin: 0 auto;
}

.audits-container main {
  width: 75%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 4rem 0;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.audits-container main ul {
  flex: 1;
  background: var(--white);
  border-radius: 0.25rem;
}

.audits-container main ul li {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
  gap: 1rem;
  
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.audits-container main ul li:first-child {
  background: rgba(0, 115, 77, 0.8);
  color: var(--white);
}

.audits-container main ul li strong {
  font-family: "Rajdhani";
  text-align: center;
  margin: 0.5rem 0;
}

.audits-container main ul li p {
  font-size: 0.9rem;
  text-align: center;
  margin: 0.5rem 0;
}

@media (max-width: 90rem) {
  .audits-container main {
    width: 80%;
    padding: 4rem 2rem;
  }
}

@media (max-width: 68.75rem) {
  .audits-container main {
    padding: 4rem 0;
  }

  .audits-container h1 {
    width: 80%;
  }
 }

@media (max-width: 56.25rem) {
  .audits-container main {
    width: 90%;
    padding: 4rem 0;
  }

  .audits-container h1 {
    width: 90%;
  }
}
