.newcard-container {
  display: flex;
  flex-direction: column;
}

.newcard-container main {
  margin: 0 auto;
  margin-top: 4rem;
}

.newcard-container main form {
    display: flex;
    flex-direction: column;

    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    padding: 2rem 4rem; 
    min-width: 44.7rem;
   
  
    background: var(--white);
}

.newcard-container main form label {
  margin-top: 1.25rem;
  font-weight: bold;
  color: rgba(0, 115, 77, 0.8);
}

.newcard-container main form input {
  margin-top: 0.5rem;
  line-height: 3rem;

  border: 0;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.3);
  background: var(--background);
  outline: none;

  transition: box-shadow 0.2s;
}

.newcard-container main form .newcard-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newcard-container main form .newcard-button-container p {
  color: rgb(255, 0, 0);
}

.newcard-container main form .newcard-button-container #submit-success {
  color: rgba(0, 115, 77, 0.8);
}

.newcard-container main form button {
  width: 14rem;
  height: 3.75rem;
  margin-top: 5rem;
  margin-bottom: 1rem;

  border: 0;
  border-radius: 0.25rem;

  outline: 0;
  background: rgba(0, 115, 77, 0.8);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  color: var(--white);
  font-weight: bold;

  transition: box-shadow 0.2s;
}

.newcard-container main form input:hover,
.newcard-container main form button:hover {
  box-shadow: 0 0 0.3rem rgba(0, 115, 77, 0.8);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}


@media (max-width: 68.75rem) {
  .newcard-container main form {
    min-width: 36rem;
   }
 }

@media (max-width: 56.25rem) {
  .newcard-container main form {
    min-width: 34rem;
  }
}
