.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 2rem;
  padding: 2rem 0;
}

.page-header strong {
  font: bold 1.4rem "Rajdhani";
  color: var(--green-stone);
}

.page-header .page-button-container {
  display: flex;
  align-items: center;

  font: bold 1.1rem "Rajdhani";
}

.page-header .page-button-container  .page-back,
.page-header .page-button-container  .page-out {
  display: flex;
  align-items: center;

  color: var(--text);
  font: bold 1.1rem "Rajdhani";
  text-decoration: none;

  cursor: pointer;

  transition: color 0.2s;
}

.page-header .page-button-container  .page-back {
  margin-right: 0.5rem;
}

.page-header .page-button-container .page-out {
  margin-left: 0.5rem;
}

.page-header .page-button-container .page-back svg{
  margin-right: 0.5rem;
}

.page-header .page-button-container .page-out svg{
  margin-left: 0.5rem;
}

.page-header .page-button-container .page-back:hover,
.page-header .page-button-container  .page-out:hover {
  color: var(--green-stone);
}