.page-container {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

 .page-container h1 {
  color: var(--title);
  font: bold 2rem "Rajdhani";
 }

 .page-container main {
   display: flex;
   flex-direction: column;
   margin-top: 4rem;
 }

 .page-container main h2 {
   color: var(--green-stone);
   font-size: 2rem;
 }