.page-container {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.page-container h1, main, p {
  margin: 0 14rem;
 }

 .page-container h1 {
  color: var(--title);
  font: bold 2rem "Rajdhani";
 }
