.users-container {
  display: flex;
  flex-direction: column;
}

.users-container .users-content {
  max-width: 75rem;
  margin: 0rem auto;
  padding: 4rem 2rem;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.users-container .users-content aside {
  width: 18rem;
  background: var(--white);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.06);
  border-radius: 0.25rem;
  padding: 1.25rem;
}

.users-container .users-content main {
  flex: 1;
  width: 51.5rem;
  margin-left: 1.5rem;
}

.users-container .users-content main ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  list-style: none;
}

.users-container .users-content main ul li {
  width: 100%;
  background: var(--white);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.06);
  border-radius: 0.25rem;
  padding: 1.25rem;
}

.users-container .users-content main ul li header {
  display: flex;
  flex-direction: row;
  align-items: center;

  color: rgba(0, 115, 77, 0.8);

  border-bottom: 1px solid rgba(0, 115, 77, 0.37);
}

.users-container .users-content main ul li header svg {
  width: 1.75rem;
  min-width: 1.75rem;
  height: 1.75rem;
  min-height: 1.75rem;
}

.users-container .users-content main ul li header strong {
  display: block;
  max-width: 26rem;
  margin-left: 0.8rem;
  color: rgb(0, 115, 77);
}

.users-container .users-content main ul li > strong,
.users-container .users-content main ul li .users-content-group strong {
  display: block;
  margin-top: 1rem;
  font-size: 0.8rem;
  color: rgb(0, 115, 77);
}

.users-container .users-content main ul li p,
.users-container .users-content main ul li .users-content-group p {
  font-size: 0.9rem;
  line-height: 1.25rem;
  max-width: 22rem;
  word-break: break-word;
  margin-bottom: 1rem;
}

.users-container .users-content main ul li .users-content-group {
  display: flex;
}

.users-container .users-content main ul li .users-content-group .users-content-column {
  display: flex;
  flex-direction: column;
}

.users-container .users-content main ul li .users-content-group .users-content-column:not(:first-child) {
  margin-left: 1rem;
}

@media (max-width: 96.56rem) {
  .users-container .users-content,
  .users-container .users-content main ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
    place-items: center;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }

  .users-container .users-content aside {
    max-width: 30rem;
    width: 100%;
  }

  .users-container .users-content main {
    max-width: 30rem;
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 96.56rem) {
  .users-container .users-content,
  .users-container .users-content main ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
    place-items: center;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }

  .users-container .users-content aside {
    min-width: 30rem;
    width: 90%;
  }

  .users-container .users-content main {
    min-width: 30rem;
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 96.56rem) {
  .users-container .users-content,
  .users-container .users-content main ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
    place-items: center;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }

  .users-container .users-content aside {
    min-width: 25rem;
    width: 90%;
  }

  .users-container .users-content main {
    min-width: 25rem;
    width: 90%;
  }
}

@media (max-width: 45rem) {
  .users-container .users-content aside {
    min-width: 30rem;
    width: 80%;
  }

  .users-container .users-content main {
    min-width: 30rem;
    width: 80%;
  }
}

